<!-- check -->
{{block "check" .}}
<html>
<head>
{{template "head"}}
</head>
<body>
  {{template "body-bootstrap"}}
    {{template "nav" .}}

    <div class="container" style="text-align: center;">
      <div class="row" style="padding: 15% 0%;">
        <div class="col">
          <p>Enter the repo path to check</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="github.com/username/reponame" aria-label="Username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">check</button>
          </div>
        </div>
      </div>
    </div>
    {{template "foot"}}
</body>
</html>
{{end}}

<!-- DEFEND -->
{{block "defend" .}}
<html>
<head>
{{template "head"}}
</head>
<body>
  {{template "body-bootstrap"}}
    {{template "nav" .}}
    <div class="container" style="text-align: center;">
      <div class="row" style="padding: 15% 0%;">
       
        <p>Enter text here</p>
    
      </div>
    </div>
    {{template "foot"}}
</body>
</html>
{{end}}

<!-- ABOUT -->
{{block "about" .}}
<html>
<head>
{{template "head"}}
</head>
<body>
  {{template "body-bootstrap"}}
    {{template "nav" .}}
    <div class="container" style="text-align: center;">
      <div class="row" style="padding: 15% 0%;">
       
        <h1>About</h1>

        <p> We know coding takes time and effort, but losing your code can take an instant. Git-break is a tool which helps to defend and protect your hard work. We offer 2 services: defend and check. Worried about your code being manipulated? We'll look out for you and send you an alert! Want to test other GitHub repos' security? Simply input the repo path with the check feature! With Git-break, you're ensured that your code is safe and in a trusted environment. </p>
    
      </div>
    </div>
    {{template "foot"}}
</body>
</html>
{{end}}